# Порт для Backend
PORT=3000

# URI для подключения к MongoDB
# Для локальной разработки: mongodb://localhost:27017/evg_db
# Для Docker-окружения: mongodb://mongo:27017/evg_db
MONGO_URI=mongodb://localhost:27017/evg_db

# Секретный ключ для JWT
JWT_SECRET=your_super_secret_jwt_key_here_change_me