
.header__dropdown {
    position: relative !important;
    grid-column: 1 / -1;
    width: 100%;
    padding: 0;
    transform: none !important;
    box-shadow: none !important;
    visibility: visible !important;
    opacity: 1 !important;
}

.auth__guest, .auth__user {
    display: flex !important;
}